{% extends "base.html" %}
{% load static %}

{% block title %}
نادیه جعفری
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static "blog/about-me.css"%}"/>
{% endblock %}


{% block content%}
<div class="container">
  <h2 id="about-head"> درباره من</h2>
  <div class="flex-container">
    <div class="row justify-content-end">
      <div class="col-md-8 col-xd-12">
       <p>اولین جمله ای که درباره ی خود می گویم ، این است: من در زندگی ملال نداشتم. زندگی من مثل یک رود، گاهی وسیع و پر خروش و گاهی یک آب باریکه در میان سنگلاخها بود؛ اما ملال آور نبود.
        آنگاه که شرایط فراهم بود، می آموختم و می ساختم و آنگاه که شرایط دشوار در برابرم دیوار بود، راهی دیگر می یافتم. به همین خاطر است که به کار اداری وابسته نشدم و به ساخت فیلم مستند نیز بسنده نکردم. فیلمنامه ی انیمیشن نوشتم، عکس گرفتم، شعر گفتم و رمان نوشتم.
        باری در جستجوی حقیقت، زمین های اندیشه ی اندیشه ورزان را شخم زدم، گهگاه خطا کردم ، گاهی عقل را با پرده ی دل پوشاندم و گاهی دل را با پرده ی عقل. اما جزم اندیش و متعصب نبودم. علت اصلی آن ، بالیدن در خانواده ای بود که باور و عقاید خود را به فرزندانشان حقنه نکردند و قومیت و مذهبشان را در نزد آنها برتر جلوه ندادند.  
        اگر عمری بماند، همچنان به تجربه ی زندگی و جستجوی حقیقت می پردازم و تجربیاتم را در اشکال هنری عیان می کنم. آرزو دارم آثار من موجب پوشیدگی حقیقت بر عده ای نشود.
       </p>
      </div>
      <img class="col-md-4 col-xd-12 responsive" src="{%static "blog/images/index-300x300.jpg" %}"> 
    </div>
    <br>
    <div class="row">
      <img class="col-md-4 col-xd-12 responsive" src="{%static "blog/images/index1.jpg" %}">
      <ul class="col-md-8 col-xd-12"> 
        تحصیلات و سابقه فعالیت :
         
        
        <li> دانش آموخته ی رشته ی سینما با گرایش تدوین و کارگردانی – سال 1365 – از مرکز اسلامی آموزش فیلمسازی</li>
        
        <li> فارغ التحصیل رشته ی مترجمی زبان انگلیسی</li>
        
        <li> عضو پیوسته ی آسیفا ایران (انجمن فیلمسازان انیمیشن ایران – وابسته به خانه ی سینمای ایران )</li>
         
        نویسندگی :
        <li> طاهر و نویسنده ( فیلمنامه ی انیمیشن ، داستانی در ارتباط با استادشهید مرتضی مطهری با زمان 50 دقیقه ، به سفارش </li>
        
        <li> حیوانات در قرآن (مجموعه ی سیزده قسمتی در ارتباط با قصص قرآنی ، به سفا</li>
         
        </ul>
    </div>
    <br>
    <div class="row">
      <ul class="col-md-8 col-xd-12">
        کارگردانی :

        <li> میراث خود را پاس داریم ( فیلم مستند ، داستانی – تهیه کننده : انجمن سینمای جوانان ایران – وزارت فرهنگ و ارشاد اسلامی)</li>

        <li> برنده ی جایزه ی بهترین فیلم مستند از جشنواره ی سینمای جوان</li>

        <li>یک پنجره برای من کافی ست ( فیلمی مستند در رابطه با زندگی زنان بزهکار زندانی و فرزندان آنها – تهیه کننده : مرکز گسترش سینمای مستند و تجربی – وزارت فرهنگ و ارشاد اسلامی )>

        <li> برنده ی بهترین فیلم مستند از جشنواره ی سینمای جوان</li>

        <li> نان مقدس ( فیلم با مضمونی قوم نگارانه ، مراسم آیینی پیر شالیار را در اورامان تخت به تصویر    می کشد . تهیه کننده : مرکز گسترش سینمای مستند و تجربی – وزارت فرهنگ و ارشاد اسلامی )</li>
        <li> ایلیا ( فیلمی در ارتباط با کودکان کار و خیابان ، اهدایی برای کمک به دو موسسه ی خیریه )</li>
        <li> درمانگر ( فیلمی مستند که ضمن به تصویر کشیدن زندگی پر فراز و نشیب استاد حسین خیراندیش ، طب سنتی ، اسلامی را با نگاهی تازه مطرح می کند . تهیه کننده : مرکز گسترش سینمای مستند و تجربی – وزارت فرهنگ و ارشاد اسلامی )</li>
        <li> فصلی دیگر ( فیلمی داستانی در باره ی کودکان مبتلا به سرطان و لزوم حفظ باروری در آنها  است که به سفارش و تهیه کنندگی پژوهشگاه فن آوریهای نوین علوم پزشکی جهاد دانشگاهی – ابن سینا ، ساخته شده است) .     </li>
      </ul>
      <img class="col-md-4 col-xd-12 responsive" src="{%static "blog/images/index56.jpg" %}">    
    </div>  
</div>
{% endblock %}