{% extends "base.html" %}
{% load static %}

{% block title %}
نادیه جعفری
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static "blog/about-me.css"%}"/>
{% endblock %}

{% block content %}


<div class = "container well centetdv">
    <h3> Login </h3>
    <br>
<form method = "post">
    {% csrf_token %}
    {% if login == False %}
    <div class = "alert alert-danger" role="alert">Bad login!</div>

    <b>Username:</b>
    <input type = "text" name = "username" class = "form-control">
    <br>
    <b>Password:</b>
    <input type="text" name = "password" class = "form-control">
    <br>
    <input type = "submit" value = "Login!" class = 
    btn btn-success btn-lg">
</form>
</div>

{% endblock %}