{% extends "base.html" %}
{% load static %}

{% block title %}
نادیه جعفری
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static "blog/movies.css"%}"/>
{% endblock %}

{% block content %}
<div class="container">
   <h1> آثار فیلم و مستند </h1>
   <div class="flex-container">
      <div class="row"> 
       <div class="col-md-6 col-xd-12">
         <h2>مستند نان مقدس</h2>
         <h4> کارگردان : نادیه جعفری</h3>
         <h4> سال ساخت : 1387</h4>
         <h4> تهیه کننده : مرکز سینمای تجربی</h4>
         <h4> نوع اثر : مستند </h4>
         <p>بهمن ماه هر سال در روستای "اورامان تخت" واقع در جنوب غرب کردستان مراسم آیینی عروسی پیر شهریار برگزار می‌‌گردد‌. پیر شهریار‌، پیری مقدس و مورد تکریم اهالی‌ست که نهصد سال پیش اسلام را به این منطقه آورده‌است‌ و گفته می‌شود بعد از شفادادن دختر پادشاه او را به عقد خود در می‌آورد که این عروسی فرخنده را جشن می‌گیرند بدین‌گونه که یک هفته قبل از بهمن ماه به خانه اهالی رفته و گردوهای چیده شده از باغ پیر شهریار را پخش می‌کنند به عنوان شروع مراسم و هفته بعد کودکان زنبیل به دست از اهالی شیرینی و تنقلات جمع می‌کنند و بعد مراسم قربانی گاو و گوسفندان انجام می‌گیرد و آش نذری مطابق با دستور پخت نهصد سال پیش پخته می‌شود و به رقص و سماع می‌پردازند و در هفته بعد زنان، نان مقدسی را می‌پزند و مردان نان‌ها را به سر مزار پیر مقدس می‌برند و بعد از رقصی آیینی با زمین آنجا متبرک می‌کنند و با ماست بین اهالی پخش می‌کنند. *گفته می شود 21 مراسم آیینی در ایران ریشه در دین کهن ایرانی دارد. </p>
       </div>
       <img class="col-md-6 col-xd-12" src="{% static "blog/images/movies/nane-moghadas-weblog-2.jpg" %}">
      </div>
    </div>
   <div class="flex-container">
       <div class="row">
         <div class="col-md-6 col-xd-12">
         <h2>درمانگر</h2>
         <h4> کارگردان : نادیه جعفری</h3>
         <h4> سال ساخت : 1388</h4>
         <h4> تهیه کننده : مرکز سینمای تجربی</h4>
         <h4> نوع اثر : مستند </h4>
         <p>صد سال پیش ، با ورود اولین پزشکان تحصیل کرده در خارج از کشور‌، طب سنتی و حجامت در کشور غیر قانونی اعلام می‌شود‌. در سال 1363-1364 استاد "حسن خیراندیش" در صدد احیای آن بر‌می‌آید‌. او با مشکلات فراوانی روبرو می‌شود تا اینکه موفق می‌گردد رسما حجامت را از طریق قانون وارد حوزه درمان کند. استاد خیراندیش‌، طب سنتی را در چهارچوب دستورات دینی برگرفته از احادیث ائمه‌، طب الرضا‌، طب الصادق و نیز طب پیامبر (‌طب النبی‌) قرار داده و آن را تحت عنوان طب سنتی اسلامی در قالب یک رشته تحصیلی در دانشکده طب سنتی ارمنستان به ثبت می‌رساند. . </p>
         </div>
        <img class="col-md-6 col-xd-12" src="{% static "blog\images\movies\CIMG3381a.jpg" %}">
        </div>
    </div>
    <div class="flex-container">
      <div class="col-6">
         <h2></h2>
         <p></p>
       </div>
      <div class="col-6">
         <img href="">
      </div>
    </div>

{% endblock %}